*{
    box-sizing: border-box;
}
body{
    margin: 0%;
    padding: 0%;
}
nav{
    margin-right: 5%;
    font-size: 20px;
}
.nav-item{
    padding-left: 10vh;
}
.primero{

    display: flex;
    justify-content: center;

}
.iconos{
justify-self: center;
text-align: center;
margin-top: 2%;

}

.texto{
    text-align: center;
}

p{
    font-size: 5vh;
    font-family: 'Roboto', sans-serif;  
}
.titulo2{
    margin-top: 2%;
    display: flex;
    justify-content: center;
}
.texto2{
    display: flex;
    justify-content: center;
}

.block{
    margin-top: 2%;
    display:inline-block;
    display: flex;
    justify-content: center;

}
h2{
    font-family: 'Roboto', sans-serif;
    color: black;
    text-align: center;
    font-size: 130%;

}
h3{
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    font-size: 130%;
    background-color: #6DB42D;
}
p2{
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}
.correo{
    margin-top: 1%;
    background-color: #E8E8E8;
    padding: 1%;
    
}
footer{
    background-color: #262626;
    padding: 2%;
    margin-top: 2%;
}
h4{
    color: white;
    font-family: 'Roboto', sans-serif;
}
p3{
    color: white;
    font-family: 'Roboto', sans-serif;
}
h6{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 130%;
}
.con{
    margin-top: 2%;
}
.condic{
    display: flex;
    align-items: center;
    justify-content: center;

}
.con2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    background-image : url('../img/imgfondo.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
h7{

    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 130%;
}
.tes{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    max-height: 20rem;
    min-height: 8rem;


}
.titulo3{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}